:root {
  --ct-width: 100vw;
}

body {
  margin: 0;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.button-list {
  display: flex;
  gap: 10px;
}